*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        }

body {
    font-family: Arial, sans-serif;
        }

header {
    position: fixed;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 02);
        }

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
        }

nav ul li {
    margin: 0 20px;
        }

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
        }

nav ul li a:hover {
    color: #14c758;
    border-radius: 4px;
        }
        
.content{
    padding-top: 80px;
        }
.content p {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
        }