*{
    margin: 0;
    padding: 0;
}
img{
    height: 280px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
h1{
    background-color: rgb(101, 101, 253);
    font-size: 50px;
    display: flex;
    justify-content: center;
}
h2{
    padding: 10px;
    background-color: red;
    font-size: 40px;
    color: rgb(201, 3, 3);
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
    background-color: rgb(180, 76, 76);
    padding: 10px;
}
nav ul li{
    gap: 15px;
    padding: 8px;
    list-style: none;
}
nav ul li:hover{
    background-color: rgb(78, 37, 37);
    font-size: 18px;
    box-shadow: 0px 0px 10px red;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: gray;
    font-size: 20px;
    color: white;
}
footer p{
    display: flex;
    justify-content: center;
    padding: 10px;
}
body{
    background-color: rgb(179, 179, 179);
}
.all{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-rows: repeat(1,770px);
    grid-template-columns: repeat(2,50%);
    gap: 20px;
    
}
.item{
    font-size: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    gap: 2px;
    border-radius: 10px;
    display: flex;
}
.item1{
    background-color: green;
}
.item2{
    background-color: orangered;
}
button{
    background-color: gray;
    color: black;
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    font-size: 20px;
    margin-top: 10px;
}
